.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  max-width: 390px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 265px;
    font-size: 16px;
    line-height: 1;
  }
}
