.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  transition: visibility 0.3s, opacity 0.3s ease-out;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  background-color: #212121;
  margin: 8px 0px 0px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  display: table;
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: absolute;
}

.modal__close-button_type_preview {
  top: 0px;
  right: -52.5px;
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border: 1px rgba(33, 33, 33, 0.4) solid;
  border-radius: 8px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input-error_active {
  color: #ff0000;
  opacity: 0.7;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  pointer-events: all;
}

.modal__submit-button_inactive {
  pointer-events: none;
  opacity: 0.5;
}

.modal__input:hover {
  border: 1px rgba(33, 33, 33, 1) solid;
  cursor: pointer;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__close-button:hover {
  background: url(../images/close2-icon.svg);
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal_type_preview {
    padding: 0 16px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
    max-width: 159px;
    max-height: 27px;
    border-radius: 8px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -48px;
    right: 0px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
